.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 8px 17px;
}

.logo {
  font-size: 25px;
  font-weight: 400;
}

.avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
