.container {
  width: 92%;
  margin: 14% auto 10%;
  font-weight: 500;
}

.loginText {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 20px;
}

.loginButton {
  width: 100%;
  height: 34px;
  border: none;
  background-color: #007aff;
  color: white;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

.successDiv {
  composes: loginButton;
  background-color: #00ff33;
  color: black;
}
.signupLink {
  color: black;
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.selectContainer {
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  margin-top: 10px;
}

.select {
  width: 100%;
  height: 31px;
  margin-top: 6px;
  outline: none;
}

.inputOutercontainer {
  width: 100%;
  height: 65px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.title {
  font-size: 16px;
}

.inputContainer {
  width: 100%;
  height: 36px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 5px 8px;
  display: flex;
}

.input {
  width: 100%;
  border: none;
  outline: none;
}

.signUpContainer {
  margin-top: 100px;
}

.signUpThanks {
  font-size: 25px;
  width: 100%;
  text-align: center;
}

.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 8px;
}
.spinner:after {
  content: " ";
  display: block;
  width: 14px;
  height: 14px;

  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #000 transparent #000 transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
